<table class="Book">  
  <tr>
    <th>Id</th> 
    <th>Name</th>  
    <th>Author</th>  
    <th>Pages</th> 
  </tr>  
  {{#each book as |book|}}  
   
 <tr> 
    <td>{{book.id}}</td>    
    <td>{{book.name}}</td>  
    <td>{{book.author}}</td>  
    <td>{{book.pages}}</td>
  </tr>        
  {{/each}}       
</table> 
{{outlet}}